.main__logo {
  width: 150px;
  padding-left: 20px;
  padding-top: 20px;
}

.main__choose {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main__choose h1 {
  font-size: 32px;
  font-weight: 350;
}

.photo__list {
  display: flex;
  margin-top: 20px;
  flex-wrap: wrap;
}

.photo__list li {
  text-align: center;
  margin-left: 20px;
}

.profile__name {
  padding-top: 10px;
}

.profile__photo {
  height: 150px;
  border-radius: 5%;
}

.next-level {
  color: #c1c1c1;
  padding: 45px 48px;
}

.profile__photo:hover,
.next-level:hover {
  border: 2px solid white;
}
